<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
           "-//Hibernate/Hibernate-configuration DTD 3.0//EN"
           "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
<session-factory>
      <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
      <property name="connection.url">jdbc.mysql://localhost:3306/person</property>
      <property name="connection.username">root</property>
      <property name="connection.password">root</property>
       <!-- JDBC connection pool setting...using built-in test pool -->
      <property name="connection.pool_size">1</property>
        <!-- Select our SQL dialect -->
       <property name="dialect">org.hibernet.dialect.MySQL5Dialect</property>
       <!--To create table automatic  --> 
       <property name="hbm2ddl.auto">update</property>
       <property name="show_sql">true</property>
       <property name="hibernate.current_session_context_class">thread</property>
       <mapping class="com.demo.MyMevanProject.StudentEntity"/>
       <mapping class="com.demo.MyMevanProject.Address"/>
       <mapping class="com.demo.MyMevanProject.Certificate"/>
      <mapping class="com.map.Question"/>
       <mapping class="com.map.Answer"/>
       
          </session-factory>
          </hibernate-configuration>                        